<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>HDB Resale Price Alert Service</title>
</head>
<body>

    <h1>HDB Specifications</h1>

    <div>
        <label for="flatType">Flat Type:</label>
        <select id="flatType">
        </select>
    </div>

    <div>
        <label for="streetName">Street Name:</label>
        <select id="streetName">
        </select>
    </div>

    <div>
        <label for="blkNumberFrom">Block Number from:</label>
        <input type="text" id="blkNumberFrom" placeholder="Block From">
        </select>
    </div>

    <div>
        <label for="blkNumberTo">Block Number to:</label>
        <input type="text" id="blkNumberTo" placeholder="Block To">
        </select>
    </div>

    <button onclick="submitForm()">Submit</button>

    <div id="loader"></div>

    <!-- Add a div for displaying results -->
    <div id="resultContainer"></div>

    <p>Save these search parameters as a monthly email alert service</p>
    <div>
        <label for="email">Email Address:</label>
        <input type="email" id="email" placeholder="Enter your email">
    </div>

    <button onclick="registerUser()">Sign up!</button>

    <p id="footnote">By signing up to the monthly email alert service, only email addresses of subscribers will be collected and retained as long as their subscription remains active. 
        Upon subscription termination, email addresses will be promptly deleted immediately. You may request the deletion of your email address at any time, and appropriate security measures are in place to protect your data.
    any queries please contact me <a href="randychng.wordpress.com">here</a></p>

    <br>
    <br>
    <br>

    <button id="testSendEmailButton">Test send emails</button>

    <script src="https://cdn.jsdelivr.net/npm/js-yaml/dist/js-yaml.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>